@using CafeBislerium.Data

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/open-iconic@1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/order"><span class="oi oi-fire" /> Cafe` Bislerium</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" style="background-color: rebeccapurple;">
    <nav class="flex-column">
        <div class="nav-item px-3"><h5 class="text-light"><strong>@Username</strong></h5></div>
        @if (UserRole == Roles.Admin)
        {
            <!-- &nbsp; is for spacing between the icon and the text -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <i class="fa-solid fa-users"></i> &nbsp; Users
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="items">
                    <i class="fa-solid fa-clipboard"></i> &nbsp; Items
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                <i class="fa-solid fa-cart-shopping"></i> &nbsp; Order
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orderHistory">
                <i class="fa-solid fa-list"></i> &nbsp; Order History
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pdf">
                <span class="oi oi-document" /> &nbsp; Generate PDF
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-danger" role="button" @onclick="LogoutHandler">
                <span class="oi oi-account-logout" /> &nbsp; Logout
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public Roles UserRole { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }
}