@page "/login"
@using CafeBislerium.Components.Layout
@using CafeBislerium.Data
@inject NavigationManager NavManager

<div class="login-body text-center">
    <div class="form-login d-inline-block">
        <!-- Creating a form for login page -->
        <form class="main-form" @onsubmit="LoginHandler"> 
            <img class="mb-4" src="/appicon.png" alt="" height="75">
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            
            @if (_defaultDetails)
            {
                <div class="alert alert-info" role="alert">
                    Username: <strong>@UserDetails.mainUsername</strong><br/>
                    Password: <strong>@UserDetails.mainPassword</strong>
                </div>
            }

            <div class="form-floating mb-3">
                <input type="text" class="form-control username" @bind="_username" placeholder="Username" />
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control password" @bind="_password" placeholder="Password" />
                <label for="floatingPassword">Password</label>
            </div>

            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <AlertMessage MessagesType="danger" Message="@_errorMessage" />
            }
            <button class="w-100 btn btn-lg btn-primary" style="background-color:rebeccapurple" type="submit">
                <span class="oi oi-account-login"></span> Login
            </button>
        </form>
    </div>
</div>


@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private bool _defaultDetails { get; set; }
    private string _username { get; set; }
    private string _password { get; set; }
    private string _errorMessage = "";

    protected override void OnInitialized() /// default user for logging in into the program
    {
        try
        {
            var user = UserDetails.Login(UserDetails.mainUsername, UserDetails.mainPassword);
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            Console.WriteLine(e);
        }

        _globalState.CurrentActiveUser = null;
        _errorMessage = "";
    }

    //logging in the user based on their role
    private void LoginHandler()
    {
        try
        {
            _errorMessage = "";
            _globalState.CurrentActiveUser = UserDetails.Login(_username, _password);
            if (_globalState.CurrentActiveUser != null)
            {
                NavManager.NavigateTo("/");
            }
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            Console.WriteLine(e);
        }
    }
}